<section class="text-2xl font-semibold p-12 lg:py-16 text-white bg-black mt-8 relative">
  <div class="m-auto max-w-4xl text-wrap">
    Balneario Riachuelo propone
    emplazar una piscina flotante
    abierta a la comunidad sobre
    el Riachuelo, a la vera de la 
    Vuelta de Rocha.
  </div>

  <img src="/assets/waves-colors.svg" class="absolute -bottom-6 right-8" />
</section>

<section class="text-2xl p-12 lg:py-16 bg-white bg-cover" id="about">
  <div class="m-auto max-w-4xl text-wrap">
    Mitad propuesta urbanística,
    mitad declaración de principios, Balneario Riachuelo busca volver
    a darle vida pública a uno de los afluentes más contaminados del mundo, al mismo tiempo que integra una propuesta arquitectónica visionaria al sur de la Ciudad.
  </div>
</section>

<div class="w-full bg-gradient h-2"> </div>

