<section class="text-2xl font-semibold text-center text-wrap py-6 px-12 text-white bg-gradient">
  <div class="m-auto max-w-4xl">
    Arquitectura de vanguardia  
    para reapropiarse del espacio  
    público perdido.
  </div>
</section>
