---
const date = new Date();
const year = date.getFullYear();

---
<img src="/images/footer.webp" class="w-full aspect-[16/5] object-cover" alt="Imagen de la ubicación del Balneario Riachuelo" />

<section class="bg-gray h-64 text-center px-8 flex justify-center items-center text-white">
  <div class="flex flex-col gap-y-2">
    <span class="font-bold">Balneario Riachuelo</span>
    <span>(C) {year} Max Woellert & <a href="https://monoblock.cc" class="hover:underline" target="_blank" rel="noopener noreferrer">Monoblock</a></span>
    <span><a href="mailto:chapuzon@balnearioriachuelo.com.ar" class="hover:underline">chapuzon@balnearioriachuelo.com.ar</a></span>
  </div>
</section>


