---
const date = new Date();
const year = date.getFullYear();

---
<section class="grid grid-cols-1 lg:grid-cols-2">
  <div>
    <img src="/images/foto-boca2.jpg" alt="Foto de la Boca" class="aspect-square object-cover">
  </div>
  <div>    
    <img src="/images/mapa-boca.jpg" alt="Mapa de la Boca" class="aspect-square object-cover">
  </div>
</section>

<section class="bg-gray h-64 text-center px-8 flex justify-center items-center text-white">
  <div class="flex flex-col gap-y-2">
    <span class="font-bold">Balneario Riachuelo</span>
    <span>(C) {year} Max Woellert & <a href="https://monoblock.cc" class="hover:underline" target="_blank" rel="noopener noreferrer">Monoblock</a></span>
    <span><a href="mailto:chapuzon@balnearioriachuelo.com.ar" class="hover:underline">chapuzon@balnearioriachuelo.com.ar</a></span>
  </div>
</section>


