---
import { Logo, Wave } from '../icons/icons.tsx';
---
  
<div class="flex items-center justify-between px-6 pb-12 pt-10">
  <div class="hover:blur-sm cursor-pointer transition-all logo">
    <Logo />
  </div>
  <div>
    <Wave />
  </div>
</div>